.table {
  height: 100%;
  width: 100%;
  background-color: #006400;
  display: flex;
  flex-direction: column;
  align-items: center;

  .dealer {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 80%;

    .hand {
      margin: 0 auto;
      height: 35vh;
      max-height: calc(300px - 3rem);
      min-width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }

    .game-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      font-size: 1.5rem;

      h1 {
        font-size: 3rem;
      }
    }
  }

  .players {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 50%;
    max-height: 300px;
    width: 98%;
    margin-top: auto;
    gap: 1rem;
  }
}
