.table {
  height: 100vh;
  width: 100vw;
  background-color: #006400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dealer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55%;
    width: 80%;

    .hand {
      margin: 0 auto;
      border: 1px solid #ccc;
      height: 35vh;
      width: 15vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .game-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      font-size: 1.5rem;

      h1 {
        font-size: 3rem;
      }
    }
  }

  .players {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 40%;
    width: 95%;
    margin: 0 auto;
    gap: 1rem;
  }
}
